.frame {fill:none;stroke:#ffffaa;stroke-width:2.000000;stroke-dasharray:2 2}
.kv34078976104 {fill:none;stroke:#808080;stroke-width:5.000000;stroke-dasharray:0}
.kv34078976103 {fill:none;stroke:#800080;stroke-width:5.000000;stroke-dasharray:0}
.kv34078976102 {fill:none;stroke:#00ff00;stroke-width:5.000000;stroke-dasharray:0}
.kv34078976101 {fill:none;stroke:#ff0000;stroke-width:5.000000;stroke-dasharray:0}
.kv340789768 {fill:none;stroke:#ff00ff;stroke-width:5.000000;stroke-dasharray:0}
.kv340789767 {fill:none;stroke:#939e00;stroke-width:5.000000;stroke-dasharray:0}
.kv340789766 {fill:none;stroke:#ff8000;stroke-width:5.000000;stroke-dasharray:0}
.kv340789765 {fill:none;stroke:#004bff;stroke-width:5.000000;stroke-dasharray:0}
.kv340789764 {fill:none;stroke:#f0e68c;stroke-width:5.000000;stroke-dasharray:0}
.kv340789763 {fill:none;stroke:#cc0000;stroke-width:5.000000;stroke-dasharray:0}
.kv340789762 {fill:none;stroke:#00ffff;stroke-width:5.000000;stroke-dasharray:0}
.kv340789761 {fill:none;stroke:#5aa046;stroke-width:5.000000;stroke-dasharray:0}
.kv33681408104 {fill:none;stroke:#808080;stroke-width:1.000000;stroke-dasharray:0}
.kv33681408103 {fill:none;stroke:#800080;stroke-width:1.000000;stroke-dasharray:0}
.kv33681408102 {fill:none;stroke:#00ff00;stroke-width:1.000000;stroke-dasharray:0}
.kv33681408101 {fill:none;stroke:#ff0000;stroke-width:1.000000;stroke-dasharray:0}
.kv336814088 {fill:none;stroke:#ff00ff;stroke-width:1.000000;stroke-dasharray:0}
.kv336814087 {fill:none;stroke:#939e00;stroke-width:1.000000;stroke-dasharray:0}
.kv336814086 {fill:none;stroke:#ff8000;stroke-width:1.000000;stroke-dasharray:0}
.kv336814085 {fill:none;stroke:#004bff;stroke-width:1.000000;stroke-dasharray:0}
.kv336814084 {fill:none;stroke:#f0e68c;stroke-width:1.000000;stroke-dasharray:0}
.kv336814083 {fill:none;stroke:#cc0000;stroke-width:1.000000;stroke-dasharray:0}
.kv336814082 {fill:none;stroke:#00ffff;stroke-width:1.000000;stroke-dasharray:0}
.kv336814081 {fill:none;stroke:#5aa046;stroke-width:1.000000;stroke-dasharray:0}
.kv33620738104 {fill:none;stroke:#808080;stroke-width:1.000000;stroke-dasharray:0}
.kv33620738103 {fill:none;stroke:#800080;stroke-width:1.000000;stroke-dasharray:0}
.kv33620738102 {fill:none;stroke:#00ff00;stroke-width:1.000000;stroke-dasharray:0}
.kv33620738101 {fill:none;stroke:#ff0000;stroke-width:1.000000;stroke-dasharray:0}
.kv336207388 {fill:none;stroke:#ff00ff;stroke-width:1.000000;stroke-dasharray:0}
.kv336207387 {fill:none;stroke:#939e00;stroke-width:1.000000;stroke-dasharray:0}
.kv336207386 {fill:none;stroke:#ff8000;stroke-width:1.000000;stroke-dasharray:0}
.kv336207385 {fill:none;stroke:#004bff;stroke-width:1.000000;stroke-dasharray:0}
.kv336207384 {fill:none;stroke:#f0e68c;stroke-width:1.000000;stroke-dasharray:0}
.kv336207383 {fill:none;stroke:#cc0000;stroke-width:1.000000;stroke-dasharray:0}
.kv336207382 {fill:none;stroke:#00ffff;stroke-width:1.000000;stroke-dasharray:0}
.kv336207381 {fill:none;stroke:#5aa046;stroke-width:1.000000;stroke-dasharray:0}
.kv33620737104 {fill:none;stroke:#808080;stroke-width:1.000000;stroke-dasharray:0}
.kv33620737103 {fill:none;stroke:#800080;stroke-width:1.000000;stroke-dasharray:0}
.kv33620737102 {fill:none;stroke:#00ff00;stroke-width:1.000000;stroke-dasharray:0}
.kv33620737101 {fill:none;stroke:#ff0000;stroke-width:1.000000;stroke-dasharray:0}
.kv336207378 {fill:none;stroke:#ff00ff;stroke-width:1.000000;stroke-dasharray:0}
.kv336207377 {fill:none;stroke:#939e00;stroke-width:1.000000;stroke-dasharray:0}
.kv336207376 {fill:none;stroke:#ff8000;stroke-width:1.000000;stroke-dasharray:0}
.kv336207375 {fill:none;stroke:#004bff;stroke-width:1.000000;stroke-dasharray:0}
.kv336207374 {fill:none;stroke:#f0e68c;stroke-width:1.000000;stroke-dasharray:0}
.kv336207373 {fill:none;stroke:#cc0000;stroke-width:1.000000;stroke-dasharray:0}
.kv336207372 {fill:none;stroke:#00ffff;stroke-width:1.000000;stroke-dasharray:0}
.kv336207371 {fill:none;stroke:#5aa046;stroke-width:1.000000;stroke-dasharray:0}
.kv33620736104 {fill:none;stroke:#808080;stroke-width:1.000000;stroke-dasharray:0}
.kv33620736103 {fill:none;stroke:#800080;stroke-width:1.000000;stroke-dasharray:0}
.kv33620736102 {fill:none;stroke:#00ff00;stroke-width:1.000000;stroke-dasharray:0}
.kv33620736101 {fill:none;stroke:#ff0000;stroke-width:1.000000;stroke-dasharray:0}
.kv336207368 {fill:none;stroke:#ff00ff;stroke-width:1.000000;stroke-dasharray:0}
.kv336207367 {fill:none;stroke:#939e00;stroke-width:1.000000;stroke-dasharray:0}
.kv336207366 {fill:none;stroke:#ff8000;stroke-width:1.000000;stroke-dasharray:0}
.kv336207365 {fill:none;stroke:#004bff;stroke-width:1.000000;stroke-dasharray:0}
.kv336207364 {fill:none;stroke:#f0e68c;stroke-width:1.000000;stroke-dasharray:0}
.kv336207363 {fill:none;stroke:#cc0000;stroke-width:1.000000;stroke-dasharray:0}
.kv336207362 {fill:none;stroke:#00ffff;stroke-width:1.000000;stroke-dasharray:0}
.kv336207361 {fill:none;stroke:#5aa046;stroke-width:1.000000;stroke-dasharray:0}
.kv33620482104 {fill:none;stroke:#808080;stroke-width:2.000000;stroke-dasharray:2}
.kv33620482103 {fill:none;stroke:#800080;stroke-width:2.000000;stroke-dasharray:2}
.kv33620482102 {fill:none;stroke:#00ff00;stroke-width:2.000000;stroke-dasharray:2}
.kv33620482101 {fill:none;stroke:#ff0000;stroke-width:2.000000;stroke-dasharray:2}
.kv336204828 {fill:none;stroke:#ff00ff;stroke-width:2.000000;stroke-dasharray:2}
.kv336204827 {fill:none;stroke:#939e00;stroke-width:2.000000;stroke-dasharray:2}
.kv336204826 {fill:none;stroke:#ff8000;stroke-width:2.000000;stroke-dasharray:2}
.kv336204825 {fill:none;stroke:#004bff;stroke-width:2.000000;stroke-dasharray:2}
.kv336204824 {fill:none;stroke:#f0e68c;stroke-width:2.000000;stroke-dasharray:2}
.kv336204823 {fill:none;stroke:#cc0000;stroke-width:2.000000;stroke-dasharray:2}
.kv336204822 {fill:none;stroke:#00ffff;stroke-width:2.000000;stroke-dasharray:2}
.kv336204821 {fill:none;stroke:#5aa046;stroke-width:2.000000;stroke-dasharray:2}
.kv33620481104 {fill:none;stroke:#808080;stroke-width:4.000000;stroke-dasharray:4 2}
.kv33620481103 {fill:none;stroke:#800080;stroke-width:4.000000;stroke-dasharray:4 2}
.kv33620481102 {fill:none;stroke:#00ff00;stroke-width:4.000000;stroke-dasharray:4 2}
.kv33620481101 {fill:none;stroke:#ff0000;stroke-width:4.000000;stroke-dasharray:4 2}
.kv336204818 {fill:none;stroke:#ff00ff;stroke-width:4.000000;stroke-dasharray:4 2}
.kv336204817 {fill:none;stroke:#939e00;stroke-width:4.000000;stroke-dasharray:4 2}
.kv336204816 {fill:none;stroke:#ff8000;stroke-width:4.000000;stroke-dasharray:4 2}
.kv336204815 {fill:none;stroke:#004bff;stroke-width:4.000000;stroke-dasharray:4 2}
.kv336204814 {fill:none;stroke:#f0e68c;stroke-width:4.000000;stroke-dasharray:4 2}
.kv336204813 {fill:none;stroke:#cc0000;stroke-width:4.000000;stroke-dasharray:4 2}
.kv336204812 {fill:none;stroke:#00ffff;stroke-width:4.000000;stroke-dasharray:4 2}
.kv336204811 {fill:none;stroke:#5aa046;stroke-width:4.000000;stroke-dasharray:4 2}
.kv33620480104 {fill:none;stroke:#808080;stroke-width:1.000000;stroke-dasharray:4 2}
.kv33620480103 {fill:none;stroke:#800080;stroke-width:1.000000;stroke-dasharray:4 2}
.kv33620480102 {fill:none;stroke:#00ff00;stroke-width:1.000000;stroke-dasharray:4 2}
.kv33620480101 {fill:none;stroke:#ff0000;stroke-width:1.000000;stroke-dasharray:4 2}
.kv336204808 {fill:none;stroke:#ff00ff;stroke-width:1.000000;stroke-dasharray:4 2}
.kv336204807 {fill:none;stroke:#939e00;stroke-width:1.000000;stroke-dasharray:4 2}
.kv336204806 {fill:none;stroke:#ff8000;stroke-width:1.000000;stroke-dasharray:4 2}
.kv336204805 {fill:none;stroke:#004bff;stroke-width:1.000000;stroke-dasharray:4 2}
.kv336204804 {fill:none;stroke:#f0e68c;stroke-width:1.000000;stroke-dasharray:4 2}
.kv336204803 {fill:none;stroke:#cc0000;stroke-width:1.000000;stroke-dasharray:4 2}
.kv336204802 {fill:none;stroke:#00ffff;stroke-width:1.000000;stroke-dasharray:4 2}
.kv336204801 {fill:none;stroke:#5aa046;stroke-width:1.000000;stroke-dasharray:4 2}
.kv33620226104 {fill:none;stroke:#808080;stroke-width:2.000000;stroke-dasharray:0}
.kv33620226103 {fill:none;stroke:#800080;stroke-width:2.000000;stroke-dasharray:0}
.kv33620226102 {fill:none;stroke:#00ff00;stroke-width:2.000000;stroke-dasharray:0}
.kv33620226101 {fill:none;stroke:#ff0000;stroke-width:2.000000;stroke-dasharray:0}
.kv336202268 {fill:none;stroke:#ff00ff;stroke-width:2.000000;stroke-dasharray:0}
.kv336202267 {fill:none;stroke:#939e00;stroke-width:2.000000;stroke-dasharray:0}
.kv336202266 {fill:none;stroke:#ff8000;stroke-width:2.000000;stroke-dasharray:0}
.kv336202265 {fill:none;stroke:#004bff;stroke-width:2.000000;stroke-dasharray:0}
.kv336202264 {fill:none;stroke:#f0e68c;stroke-width:2.000000;stroke-dasharray:0}
.kv336202263 {fill:none;stroke:#cc0000;stroke-width:2.000000;stroke-dasharray:0}
.kv336202262 {fill:none;stroke:#00ffff;stroke-width:2.000000;stroke-dasharray:0}
.kv336202261 {fill:none;stroke:#5aa046;stroke-width:2.000000;stroke-dasharray:0}
.kv33620225104 {fill:none;stroke:#808080;stroke-width:4.000000;stroke-dasharray:0}
.kv33620225103 {fill:none;stroke:#800080;stroke-width:4.000000;stroke-dasharray:0}
.kv33620225102 {fill:none;stroke:#00ff00;stroke-width:4.000000;stroke-dasharray:0}
.kv33620225101 {fill:none;stroke:#ff0000;stroke-width:4.000000;stroke-dasharray:0}
.kv336202258 {fill:none;stroke:#ff00ff;stroke-width:4.000000;stroke-dasharray:0}
.kv336202257 {fill:none;stroke:#939e00;stroke-width:4.000000;stroke-dasharray:0}
.kv336202256 {fill:none;stroke:#ff8000;stroke-width:4.000000;stroke-dasharray:0}
.kv336202255 {fill:none;stroke:#004bff;stroke-width:4.000000;stroke-dasharray:0}
.kv336202254 {fill:none;stroke:#f0e68c;stroke-width:4.000000;stroke-dasharray:0}
.kv336202253 {fill:none;stroke:#cc0000;stroke-width:4.000000;stroke-dasharray:0}
.kv336202252 {fill:none;stroke:#00ffff;stroke-width:4.000000;stroke-dasharray:0}
.kv336202251 {fill:none;stroke:#5aa046;stroke-width:4.000000;stroke-dasharray:0}
.kv33620224104 {fill:none;stroke:#808080;stroke-width:1.000000;stroke-dasharray:0}
.kv33620224103 {fill:none;stroke:#800080;stroke-width:1.000000;stroke-dasharray:0}
.kv33620224102 {fill:none;stroke:#00ff00;stroke-width:1.000000;stroke-dasharray:0}
.kv33620224101 {fill:none;stroke:#ff0000;stroke-width:1.000000;stroke-dasharray:0}
.kv336202248 {fill:none;stroke:#ff00ff;stroke-width:1.000000;stroke-dasharray:0}
.kv336202247 {fill:none;stroke:#939e00;stroke-width:1.000000;stroke-dasharray:0}
.kv336202246 {fill:none;stroke:#ff8000;stroke-width:1.000000;stroke-dasharray:0}
.kv336202245 {fill:none;stroke:#004bff;stroke-width:1.000000;stroke-dasharray:0}
.kv336202244 {fill:none;stroke:#f0e68c;stroke-width:1.000000;stroke-dasharray:0}
.kv336202243 {fill:none;stroke:#cc0000;stroke-width:1.000000;stroke-dasharray:0}
.kv336202242 {fill:none;stroke:#00ffff;stroke-width:1.000000;stroke-dasharray:0}
.kv336202241 {fill:none;stroke:#5aa046;stroke-width:1.000000;stroke-dasharray:0}
.dragAble {
    position:relative;
    cursor:move;

}
.img-con {
    position:relative;
    width: 9440px;
    height: 8470px;
    overflow: hidden;
    background-color: black;
}
