<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>健康生活 - 橘井生物科技</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/static/index/img/favicon.ico" rel="icon">
  
    <!-- Bootstrap CSS File -->
    <link href="/static/index/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Libraries CSS Files -->
    <link href="/static/index/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Main Stylesheet File -->
    <link href="/static/index/css/style.css" rel="stylesheet">
    

  </head>

  <body>
    <!-- Page Content
    ================================================== -->
    <!-- Hero -->

    <section class="hero">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
          	<!--
            <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="http://igeekbar.com/igeekbar/networks/assets/img/logo.png"></a>
            //-->
          </div>
        </div>

        <div class="col-md-12">
          <h1>
              橘井生物科技
          </h1>

          <p class="tagline">
            健康生活
          </p>
          <a class="btn btn-full" href="#about">开始探索</a>
        </div>
      </div>
      
    </section>
    <!-- /Hero -->
    
  <!-- Header -->
  <header id="header">
    <div class="container">
    
      <div id="logo" class="pull-left">
{#        <a href="index.html"><img src="http://igeekbar.com/igeekbar/networks/assets/img/logo.png" alt="" title="" ></a>#}
        <a href="index.html">这里放一个带名字的公司logo</a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Bell</a></h1>-->
      </div>
        
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#about">故事</a></li>
          <li><a href="#features">热点</a></li>
          <li><a href="#portfolio">博客</a></li>
          <li><a href="#team">团队</a></li>
          <li class="menu-has-children"><a href="">产品</a>
            <ul>
              <li><a href="#">产品分类</a></li>
              <li class="menu-has-children"><a href="#">产品分类</a>
                <ul>
                  <li><a href="#">产品分类1</a></li>
                  <li><a href="#">产品分类2</a></li>
                </ul>
              </li>
              <li><a href="#">产品分类3</a></li>
              <li><a href="#">产品分类4</a></li>
            </ul>
          </li>
          <li><a href="#contact">联系</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
      
      <nav class="nav social-nav pull-right hidden-sm-down">
        <a href="#"><i class="fa fa-weixin"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-envelope"></i></a>
      </nav>
    </div>
  </header><!-- #header -->
  
    <!-- About -->

    <section class="about" id="about">
      <div class="container text-center">
        <h2>
          关于我们
        </h2>

        <p>
            (公司介绍)
          儒勒·凡尔纳（Jules Verne，1828年2月8日－1905年3月24日），法国小说家、博物学家，现代科幻小说的重要开创者之一。他一生写了六十多部大大小小的科幻小说，总题为《在已知和未知的世界漫游》。他以其大量著作和突出贡献，被誉为“科幻小说之父”。
        </p>

        <div class="row stats-row">
          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">232</span> 满意度
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">79</span> 项目数
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">1,463</span> 支持度
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">15</span> 员工数
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /About -->
    <!-- Parallax -->

    <div class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img="/static/index/img/parallax-bg.jpg" data-settings='{"stellar-background-ratio": 0.6}' data-toggle="parallax-bg">
      <h2>
        欢迎来到橘井生物科技
      </h2>

      <p>
        橘井引领健康生活
      </p>
      <img alt="Bell - A perfect theme" class="gadgets-img hidden-md-down" src="/static/index/img/gadgets.png">
    </div>
    <!-- /Parallax -->
    <!-- Features -->

    <section class="features" id="features">
      <div class="container">
        <h2 class="text-center">
          我们的追求
        </h2>

        <div class="row">
          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-rocket"></span>
                </div>
              </div>

              <div>
                <h3>
                  客户体验
                </h3>

                <p>
                  ... ...
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-envelope"></span>
                </div>
              </div>

              <div>
                <h3>
                  健康生活
                </h3>

                <p>
                  ... ...
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-bell"></span>
                </div>
              </div>

              <div>
                <h3>
                  创新想法
                </h3>

                <p>
                  ... ...
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-database"></span>
                </div>
              </div>

              <div>
                <h3>
                  中医传承
                </h3>

                <p>
                  ... ...
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-cutlery"></span>
                </div>
              </div>

              <div>
                <h3>
                  救死扶伤
                </h3>

                <p>
                  ... ...
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <span class="fa fa-dashboard"></span>
                </div>
              </div>

              <div>
                <h3>
                  预防疾病
                </h3>

                <p>
                  ... ...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Features -->
    <!-- Call to Action -->

    <section class="cta">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-sm-12 text-lg-left text-center">
            <h2>
              故事
            </h2>

            <p>
                （公司的故事）
              这个答案虽然奇怪，可是完全正确。三个朋友得到这个答案以后，马上又重新沉入了梦乡。他们到哪里能够找到比这里更安宁、更寂静的地方呢？在地球上，不论是城市里的房屋还是乡村里的茅舍，都要受到地壳震动的影响。在海上，船只受到波浪的颠簸，只有撞击和波动。在天空里，气球在气流密度不同的气层里总是时沉时浮。只有这个在绝对的真交和绝对的寂静里飘浮的抛射体，能够给它的客人带来绝对的安静。因此，如果在十二月二日上午八点钟前后，也就是说他们起程以后八小时，没有一个突然而来的声音把他们惊醒的话，他们也许要一直酣睡不醒呢。显然是犬吠声。
            </p>
          </div>

          <div class="col-lg-3 col-sm-12 text-lg-right text-center">
            <a class="btn btn-ghost" href="#">喜欢我们的故事？</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /Call to Action -->
    <!-- Portfolio -->

    <section class="portfolio" id="portfolio">
      <div class="container text-center">
        <h2>
          产品
        </h2>

        <p>
            （产品介绍）
          “出来吧，狄安娜，”他说，“来吧，我的女儿！你呀，你的命运一定会记载在犬类的历史里的！你呀，那些邪教徒一定会请你去做阿尼比斯大神的伴侣，基督教徒也会请你去和圣罗克做朋友①！如果象朱庇特以一个吻的代价让给美丽的欧罗巴女神的那只‘汪汪’一样，如果地狱里的魔王也要给你树立一座青铜雕像的话，你也是当之无愧的！你，你的名望将盖过蒙塔尔纪和圣贝尔纳山的那些英雄！你冲入星际空间，也许要做月球大的夏娃哩：你，你将在天上证明图斯内尔②的话是正确的，他说：‘当初天主造人，看见他那么软弱，于是又给他一条狗！’来吧，狄安娜！到这儿来！”
        </p>
      </div>

      <div class="portfolio-grid">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"><img alt="" src="http://www.igeekbar.com/igeekbar/laitu/640x280&text=%E5%91%BD/222222/ffffff">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    猎狐梗
                  </h3>

                  <p class="card-text">
                    孤独的捕猎者
                  </p>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"><img alt="" src="http://www.igeekbar.com/igeekbar/laitu/640x280&text=%E8%BF%90/888888/ffffff">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    柯基犬
                  </h3>

                  <p class="card-text">
                    可爱的小短腿
                  </p>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"><img alt="" src="http://www.igeekbar.com/igeekbar/laitu/640x280&text=%E5%91%BD/222222/ffffff">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    猎狼犬
                  </h3>

                  <p class="card-text">
                    杀戮者
                  </p>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"><img alt="" src="http://www.igeekbar.com/igeekbar/laitu/640x280&text=%E8%BF%90/888888/ffffff">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    德国牧羊
                  </h3>

                  <p class="card-text">
                    忠实的护卫
                  </p>
                </div>
              </div></a>
            </div>
          </div>
        </div>

       <div class="row">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"><img alt="" src="http://www.igeekbar.com/igeekbar/laitu/640x280&text=%E5%91%BD/888888/ffffff">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    猎狐梗
                  </h3>

                  <p class="card-text">
                    孤独的捕猎者
                  </p>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"><img alt="" src="http://www.igeekbar.com/igeekbar/laitu/640x280&text=%E8%BF%90/222222/ffffff">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    柯基犬
                  </h3>

                  <p class="card-text">
                    可爱的小短腿
                  </p>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"><img alt="" src="http://www.igeekbar.com/igeekbar/laitu/640x280&text=%E5%91%BD/888888/ffffff">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    猎狼犬
                  </h3>

                  <p class="card-text">
                    杀戮者
                  </p>
                </div>
              </div></a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="#"><img alt="" src="http://www.igeekbar.com/igeekbar/laitu/640x280&text=%E8%BF%90/222222/ffffff">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    德国牧羊
                  </h3>

                  <p class="card-text">
                    忠实的护卫
                  </p>
                </div>
              </div></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Portfolio -->
    <!-- Team -->

    <section class="team" id="team">
      <div class="container">
        <h2 class="text-center">
          团队成员
        </h2>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="http://www.igeekbar.com/igeekbar/laitu/273x231&text=大头照/222222/ffffff">
              <div class="card-title-wrap">
                <span class="card-title">Terri li</span> <span class="card-text">设计王子</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  联系我
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                </nav>

                <p>
                  独立设计师
                </p>
              </div></a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="http://www.igeekbar.com/igeekbar/laitu/273x231&text=大头照/888888/ffffff">
              <div class="card-title-wrap">
                <span class="card-title">李嘉诚</span> <span class="card-text">设计王子</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  联系我
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                </nav>

                <p>
                  独立设计师
                </p>
              </div></a>
            </div>
          </div>

           <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="http://www.igeekbar.com/igeekbar/laitu/273x231&text=大头照/222222/ffffff">
              <div class="card-title-wrap">
                <span class="card-title">李嘉诚</span> <span class="card-text">设计王子</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  联系我
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                </nav>

                <p>
                  独立设计师
                </p>
              </div></a>
            </div>
          </div>
          
          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="http://www.igeekbar.com/igeekbar/laitu/273x231&text=大头照/888888/ffffff">
              <div class="card-title-wrap">
                <span class="card-title">李嘉诚</span> <span class="card-text">设计王子</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  联系我
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                </nav>

                <p>
                  独立设计师
                </p>
              </div></a>
            </div>
          </div>                   

        </div>



      </div>
    </section>
    <!-- /Team -->
    <!-- @component: footer -->

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-title">联系</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-3 offset-lg-2">
            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>广州<br>南方医科大学</p>
              </div>
              
              <div>
                <i class="fa fa-envelope"></i>
                <p>jujing.com</p>
              </div>
              
              <div>
                <i class="fa fa-phone"></i>
                <p>13112355359</p>
              </div>
              
            </div>
          </div>
          
          <div class="col-lg-5">
            <div class="form">
              <div id="sendmessage">感谢发送您的反馈</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="名字" data-rule="minlen:4" data-msg="输入至少8个字符" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="邮件" data-rule="email" data-msg="输入邮件" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="主题" data-rule="minlen:4" data-msg="输入至少8个字符" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">

                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="反馈内容" placeholder="反馈内容"></textarea>
                    <div class="validation"></div>
                  </div>
                  <div class="text-center"><button type="submit">发送</button></div>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </section>
      
    <footer class="site-footer">
      <div class="bottom">
        <div class="container">
          <div class="row">

            <div class="col-lg-6 col-xs-12 text-lg-left text-center">
              <p class="copyright-text">
                © 2017 橘井生物科技
              </p>
              <div class="credits">
                <a href="#">jujing.com</a>
              </div>
            </div>
            
            <div class="col-lg-6 col-xs-12 text-lg-right text-center">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="index.html">首页</a>
                </li>

                <li class="list-inline-item">
                  <a href="#about">关于</a>
                </li>

                <li class="list-inline-item">
                  <a href="#features">特性</a>
                </li>

                <li class="list-inline-item">
                  <a href="#portfolio">作品</a>
                </li>

                <li class="list-inline-item">
                  <a href="#team">团队</a>
                </li>

                <li class="list-inline-item">
                  <a href="#contact">联系</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </footer>
    <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a> <!-- JavaScript


    <!-- Required JavaScript Libraries -->
    <script src="/static/index/lib/jquery/jquery.min.js"></script>
    <script src="/static/index/lib/superfish/hoverIntent.js"></script>
    <script src="/static/index/lib/superfish/superfish.min.js"></script>
    <script src="/static/index/lib/tether/js/tether.min.js"></script>
    <script src="/static/index/lib/stellar/stellar.min.js"></script>
    <script src="/static/index/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/index/lib/counterup/counterup.min.js"></script>
    <script src="/static/index/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/index/lib/easing/easing.js"></script>
    <script src="/static/index/lib/stickyjs/sticky.js"></script>
    <script src="/static/index/lib/parallax/parallax.js"></script>
    <script src="/static/index/lib/lockfixed/lockfixed.min.js"></script>
    
    <!-- Template Specisifc Custom Javascript File -->
    <script src="/static/index/js/custom.js"></script>
    
    <script src="/static/index/contactform/contactform.js"></script>
    
  </body>
</html>